<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>
<div>
    <form th:method="POST" th:action="@{/users}" th:object="${user}">
        <h1>Создание нового пользователя</h1>
        <label for="name">Введите имя: </label>
        <input type="text" th:field="*{name}" id="name" required />
        <br/>
        <label for="job">Введите работу: </label>
        <input type="text" th:field="*{job}" id="job" required />
        <br/>
        <label for="age">Введите возраст: </label>
        <input type="text" th:field="*{age}" id="age" required />
        <br/>
        <input type="submit" value="Create" />
    </form>
</div>
</body>
</html>